body .menu-container {
  color: #666;
  font-weight: 600;
  height: calc(100vh - 56px - 16px*2);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}
body .menu-container .card {
  background: #f4f8ff;
  border: none;
  height: 100%;
}
body .menu-container .card .card-header {
  background: #e5eeff;
  height: 56px;
}
body .menu-container .card .card-header button {
  background-color: #e5eeff;
  border-color: #007bff;
  border: none;
}
body .menu-container .card .card-header button:focus,
body .menu-container .card .card-header button:focus-within,
body .menu-container .card .card-header button:active {
  box-shadow: none !important;
  background-color: #e5eeff !important;
  background: #e5eeff !important;
}
body .menu-container .card .addBtn {
  padding: 0 8px;
  color: #007bff;
  font-weight: 600;
  border-color: #007bff;
  border: none;
}
body .menu-container .card .addBtn:hover {
  background: #e5eeff;
}
body .menu-container .list-group {
  height: calc(100% - 48px);
  overflow: auto;
}
body .menu-container .list-group .list-group-item {
  height: 48px;
  display: flex;
  align-items: center;
  background: #f4f8ff;
  margin: 8px 16px;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}
body .menu-container .list-group .list-group-item.active {
  border-color: #007bff;
  color: #666;
}
body .menu-container .list-group .list-group-item:hover {
  cursor: pointer;
  background: #e5eeff;
}
body .menu-container .list-group .list-group-item.add-category-container {
  height: unset;
  padding: 16px;
}
body .menu-container .list-group .list-group-item.add-category-container:hover {
  background: unset;
}
body .menu-container .list-group .list-group-item.add-category-container input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-right: 16px;
}
body .menu-container .list-group .list-group-item.add-category-container button:focus,
body .menu-container .list-group .list-group-item.add-category-container input:focus,
body .menu-container .list-group .list-group-item.add-category-container button :focus-within,
body .menu-container .list-group .list-group-item.add-category-container input :focus-within,
body .menu-container .list-group .list-group-item.add-category-container button :active,
body .menu-container .list-group .list-group-item.add-category-container input :active {
  box-shadow: none ;
}
body .menu-container .empty-categories-msg {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  justify-content: center;
  align-items: center;
}
