body .navbar {
  background: #e5eeff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: 600;
}
body .navbar .nav-title {
  color: #666;
}
body .navbar .navbar-nav .nav-item {
  margin-left: 16px;
}
